/* Variables  --- --- --- */
:root {
    --green: #7BDC81;
    --grey: #222222;
}


/* Resets and Font  --- --- --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

button {
    border: none;
    background-color: transparent;
}

.texthuge {
    font-size: 6rem;
    font-weight: 700;
}

/* Content  --- --- --- */
.content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button {
    background-color: var(--green);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    color: white;
}

    .button.phat {
        font-size: 1.3rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .textbutton {
        color: var(--green);
        font-size: 1.2rem;
        font-weight: 700;
    }

        .textbutton svg {
            height: 0.7rem;
        }

.filterselect {
    /*display: none;*/

    flex-direction: column;
    align-items: center;
}

    .filterselect *:not(:first-child) {
        margin-top: 2rem;
    }

.submitquest {
    position: relative;
    color: white;
    width: 100%;
    text-align: right;
}

    .submitquest svg {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;    
    }

    .submitquest h2 {
        display: inline;
        margin-right: 2rem;
    }
