html
    head
        title Boredquest
        style
            include styles/app.css
    body
        header.header
            h1 Boredquest
        main.content
            h2.texthuge Langeweile?
            button(onclick='requestQuest()').button.phat Quest bekommen!
            button.textbutton Filter
                include images/triangle_down.svg
            div.filterselect
                label Outdoors?
                    input(type='checkbox' id='outdoor' class='toggle')
                label Action / Chillen
                    input(type='range' min='1' max='10'  id='sport')
                label Personenanzahl
                    select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3-5') 3-5
                        option(value='6 und mehr') 6 und mehr
                label Spaßfaktor
                    input(type='range' min='1' max='10'  id='fun')
            h1(id= "answer")
        div.submitquest
            h2 Selbst gute Ideen gegen Langeweile?
            button.button.phat Quest senden

    script.
        function requestQuest(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("answer").innerHTML = this.responseText;
                }
            };
            var outdoor = document.getElementById('outdoor').checked;
            var sport = document.getElementById('sport').checked;
            if(outdoor) outdoor = 1
            else outdoor = 0;
            if(sport) sport = 1
            else sport = 0;
            xhttp.open("GET", "getQuest?questForm="+outdoor+sport, true);
            xhttp.send();
        };

        function submitQuest(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    document.getElementById('response').innerHTML = this.responseText;
                }
            };
            var submitForm = {quest: document.getElementById('quest').value,
                outdoor: document.getElementById('isOutdoor').checked,
                sport: document.getElementById('isSport').checked};
            var urlParam = []
            for (var i in submitForm){
                urlParam.push(encodeURIComponent(i) + "=" + encodeURIComponent(submitForm[i]));
            }
            xhttp.open("GET", "submitQuest/?" + urlParam.join("&"), true);
            xhttp.send();
        };
