html
    head
        title = Boredquest
        style
            include styles/app.css
    body
        header(class='header')
            h1 Boredquest
        main(class='content')
            h2 Langeweile?
            label Outdoors?
                input(type='checkbox' id='outdoor' class='toggle')
            label Action / Chillen
                input(type='range' min='0' max='10'  id='action')
            label Personenanzahl
                select
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3-5') 3-5
                    option(value='6 und mehr') 6 und mehr
            label Spaßfaktor
                input(type='range' min='0' max='10'  id='sport')
            button(onclick='requestQuest()') Get quest!
            h1(id= "answer")
        

    script.
        function requestQuest(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("answer").innerHTML = this.responseText;
                }
            };
            var outdoor = document.getElementById('outdoor').checked;
            var action = document.getElementById('sport').value;
            xhttp.open("GET", "getQuest?questForm="+outdoor+sport, true);
            xhttp.send();
        };
