html
    head
        title Boredquest
        
    body
        main.submitquest
            h2 Submit your own activity:
            label How is the quest called?
                input(type='text' id='quest')
            label Is it an outdoor activity?
                input(type='checkbox' id='outdoor')
            label Action / Chillen
                input(type='range' min='1' max='10'  id='action')
            label Personenanzahl
                select#persZahl
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3-5') 3-5
                    option(value='6 und mehr') 6 und mehr
            label Spaßfaktor
                input(type='range' min='1' max='10'  id='fun')
            button(onclick='submitQuest()') Submit your Quest!
            p(id='response')
                        
                        
    script.
        function submitQuest(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    document.getElementById('response').innerHTML = this.responseText;
                }
            };
            var e = document.getElementById('persZahl');
            var submitForm = {
                quest: document.getElementById('quest').value,
                outdoor: document.getElementById('outdoor').checked,
                action: document.getElementById('action').value,
                persZahl: e.options[e.selectedIndex].text,
                spassFaktor: document.getElementById('fun').value
            };
            var urlParam = []
            for (var i in submitForm){
                urlParam.push(encodeURIComponent(i) + "=" + encodeURIComponent(submitForm[i]));
            }
            xhttp.open("GET", "submitQuest/?" + urlParam.join("&"), true);
            xhttp.send();
        };
